doctype html
html
    head
        title 07_Reviews
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", sizes="192x192", href="files/favicon.ico")
    body
        include _header.jade
        main#semiIntroBox
            include _menu-common.jade

        article#suportInfo
            div#position
                p= "Home"
                i.fa.fa-angle-right
                p= "REVIEWS"
            div#content
                h2= "Reviews"

        div#feedbackPage
            article
                p.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore
                    que laudantium, totam rem aperiam
                button= "Add A Testimonial"
            div#feedbacks-wr
                -
                    var respArr = ["Gabriel was at my place less than an hour after I first called, and quickly fixed the problem I was having. In doing so, he found and repaired a couple of other minor issues without any extra charges. Price was very reasonable and Gabriel was absolutely on-point. I will absolutely use Rush Plumbing for all my future needs. Highly recommended!",
                    "Gabriel was great I needed a professional plumber my toilet was overflowing we had roots in the pipes so he cleaned them out. Thank you I will always use you in the future",
                    "Im really impressed with rush plumbing these guys are responsible nice and especially clean I highly recommend rush plumbing.",
                    "Gabriel was at my place less than an hour after I first called, and quickly fixed the problem I was having. In doing so, he found and repaired a couple of other minor issues without any extra charges. Price was very reasonable and Gabriel was absolutely on-point. I will absolutely use Rush Plumbing for all my future needs. Highly recommended!",
                    "Gabriel was great I needed a professional plumber my toilet was overflowing we had roots in the pipes so he cleaned them out. Thank you I will always use you in the future",
                    "Im really impressed with rush plumbing these guys are responsible nice and especially clean I highly recommend rush plumbing."]
                    var authorsArr = ["Guest43159",  "Guest43159",  "Guest43159", "Guest43159",  "Guest43159",  "Guest43159"]
                    var authorsLocArr = ["Los Angeles,CA", "Los Angeles,CA", "Los Angeles,CA", "Los Angeles,CA", "Los Angeles,CA", "Los Angeles,CA"]
                each val, ind in respArr
                    div.respounce-block
                        div.respounce-quote
                            a.fa.fa-quote-left
                            p.respounce= val

                        p.author
                            b= authorsArr[ind]
                            text= ", " + authorsLocArr[ind]
            nav#pages
                button
                    i.fa.fa-arrow-left
                    text= "PREV"
                div
                    a(src="#")= 1
                    a(src="#")= 2
                    a(src="#")= 3
                button
                    text= "NEXT"
                    i.fa.fa-arrow-right
        footer
            div#aboutCompany
                h6= "About company"
                p.
                    Work with us once, and you'll find we at Rush Plumbing take our job seriously and value the trust
                    and responsibility you place in us. We go beyond the call of duty by investing in the extra
                    training and equipment that we consider necessary to properly protect your home or business.
            div#services
                h6.listHeader= "Services"
                ul
                    -
                        var serv= ["Drain Cleaning",
                        "Emergency Plubming",
                        "Sewer Services",
                        "Trenchless Sewer",
                        "Gass Shut off Valve",
                        "Faucets & Fixturex",
                        "Water Heaters"]
                    each val in serv
                        li= val
            div#information
                h6.listHeader= "Information"
                ul
                    -
                        var info= ["Our Company",
                        "Careers",
                        "Certification",
                        "Blog",
                        "Reviews",
                        "FAQ",
                        "Contact us"]
                    each val in info
                        li= val
            div#cont
                h6= "Contact us"
                p= "You can always contact with us via email or phone. Get in touch with contact and get a quote form."
                aside.callingIn
                    i(class="fa fa-phone" aria-hidden="true")
                    p= "818-344-1111"
            include _footer.jade
    script(src="/js/main.js")