main#semiIntroBox
    include ../_menu-common.jade

article#suportInfo
    div#position
        p
            a.unstyled(href="#!/")= "Home"
        i.fa.fa-angle-right
        p= "Careers"
    div#content
        h2.
            Careers
        p.about

        p
            | There are currently no vacancies available.
        p
            | However, we are always keen to meet energetic and talented professionals who would like to join our team.
        p
            | If you wish to be considered for any future positions, please call us.
        div#CallUsNow
            p
                text= "Call us at "
                a.unstyled(href="tel:+18183441111")
                    b="1-818-344-1111"
                text= " to contact us to set up a free in-home estimate"