main#semiIntroBox
    include ../_menu-common.jade

article#suportInfo
    div#position
        p
            a.unstyled(href="./#!/")= "Home"
        i.fa.fa-angle-right
        p= "Certification"
    div#content
        h2
            | Certification
        p.about
            | TO DO
        p
            h3
                | Rush Plumbing CSLB : 618739
            br
            | This is the place for images of your certificate
            br
            a(href="https://www2.cslb.ca.gov/onlineservices/CheckLicenseII/LicenseDetail.aspx?LicNum=618739" target="_blank")
                | check this certificate
        div#CallUsNow
            p
                text= "Call us at "
                a.unstyled(href="tel:+18183441111")
                    b="1-818-344-1111"
                text= " to contact us to set up a free in-home estimate"