main#semiIntroBox
    include ../_menu-common.jade

article#suportInfo
    div#position
        p
            a.unstyled(href="./#!/")= "Home"
        i.fa.fa-angle-right
        p= "Sewer Services"
    div#content
        h2.
            SEWER Services | Rush Plumbing
        p.about.
            When there is failure of sump pump and sewage ejector, homeowner will usually discover it when it is already too late.
        p
            | They usually find themselves faced with the emergency situation of water swarming
            | the floor and the basement. This calls for professional sewer services to immediately,
            | efficiently and effectively fix the problem. Rush Plumbing offers both commercial
            | and residential sewage sump pumps and sewage ejector installation and repair
            | services at the most competitive price. Our services are open 24/7 for the emergency
            | failure of sump pump and sewage ejector.
        p.
            | Professional sewer services like ours can work so that sump pump will be restored to
            | its original condition. We can employ latest equipment so that it will again be able to
            | effectively removed rain or ground water in and around crawl space and basement to
            | prevent any flooding. It will again be able to improve dampness condition through
            | lowering the level of water under the foundation. Our professionals have the expertise
            | to detect and fix any problem on the float valve which is the one responsible for
            | starting the sump pump and seep the water to be properly drain outside the house or
            | building.
        p.
            Professional sewer services can also work to fix sewage ejector and allow it to perform its function. With its advance tools, the ejector will again be able to remove the potentially contaminated waste water from showers, tubs and sinks which do not drain properly by gravitational force. To illustrate, bathtub which are located in the basement is placed too low to drain by the natural gravity. When a sewage ejector is installed, the waste water will be pump towards the sanitary sewer line. Thus, it is very important to hire professional for sewer drain line repairs.
        p.
            A quality professional service when it comes to Sewer Drain Line Repairs and Lateral Sewer Repair should only utilize the best materials and work. It should also ensure the there will be minimum disruption to the environment as well as to the beautiful landscape of the home. It should be able to address the problem regardless of its nature. They must be able to employ nothing less than the state of the art technology when addressing sewer issues. The task must be performed with utmost accuracy and precision. In essence, professional sewer services must be knowledgeable and qualified in diagnosing condition and come up with the best solution.
        p.
            | Rush plumbing understands the important of a sound sewer ejector and sewage sump
            | pump systems. Thus, we offer nothing less than integral and unparallel services in
            | order to keep these services at its top working condition all the time. When
            | homeowners have this problem, they should be able to call for professional services
            | which will employ the least invasive technique just like what our company offers.
            | Since we will be able to properly handle and repair the problem, the homeowner are
            | assured of peace of mind as no possibility of any further damage is at hand.
        p.
            If you are face with sudden flooding in your basement, you should be able to contact professional sewer services so as not to harm property to a much extent.
        div#CallUsNow
            p
                text= "Call us at "
                a.unstyled(href="tel:+18183441111")
                    b="1-818-344-1111"
                text= " to contact us to set up a free in-home estimate"