main#semiIntroBox
    include _menu-common.jade

article#suportInfo
    div#position
        p
            a.unstyled(href="./#!/")= "Home"
        i.fa.fa-angle-right
        p
            a.unstyled(href="./#!/PlumberProblems")= "PLUMBING PROBLEMS"
    div#content
        h2= "Plumbing Problems & Repairs"
        p.about
            | The kitchen is an important part of every home and it is also one of the
            | rooms which have plumbing. Things will usually run smooth but there
            | is high probability of running on kitchen plumbing problem.
        p.
            Knowing what these problems are ahead of time will help in not only avoiding them but also knowing
            when professional plumbing service is needed.
        p.
            One of the most common plumbing problems in the kitchen is a clogged
            drain. It is so sad to think that some household looked at their drains
            as if it is a garbage disposal area. They will usually rinse huge food
            chunks and grease and let them down on the drain.  The garbage will
            accumulate and clog the drain which will require immediate plumbing
            repairs. While home remedy is available, it may not be able to fix the
            problem. Thus, hiring Rush Plumbing services is the smarter choice.
        img(src="./images/PProblems.jpg")
        p.
            Another very common plumbing problem in the kitchen is leaky faucet and it is sad that
            some people just live with this constant dripping in the kitchen. This
            is a problem which needs immediate attention and plumbing service. Not
            only this is will waste so much water, it can also lead to skyrocketing
            water bills. Some home owners will address this is by using handy tools
            along with their little know how. This may not entirely address the
            issue and professional plumbing repair may be needed.
        p.
            Professional plumbers have the advanced tools and have a step to step procedure being
            followed to make sure that the problem is addressed. The pitfall of
            doing it by yourself is that you may not be aware of some bigger
            problems which are the culprit for the leaks. The expert will be able
            to properly identify the cause and address it in no time. Some bigger
            leak problems may need plumbing repiping and even repairs on the sewer
            lines.
        div#CallUsNow
            p
                text= "Call us at "
                a.unstyled(href="tel:+18183441111")
                    b="1-818-344-1111"
                text= " to contact us to set up a free in-home estimate"
        p.
            Another very common plumbing problem in the kitchen is leaky faucet and it is sad that some people
            just live with this constant dripping in the kitchen. This is a problem which needs immediate attention
            and plumbing service. Not only this is will waste so much water, it can also lead to skyrocketing
            water bills. Some home owners will address this is by using handy tools along with their little know
            how. This may not entirely address the issue and professional plumbing repair may be needed.
        p.
            Professional plumbers have the advanced tools and have a step to step procedure being followed to make
            sure that the problem is addressed. The pitfall of doing it by yourself is that you may not be aware
            of some bigger problems which are the culprit for the leaks. The expert will be able to properly
            identify the cause and address it in no time. Some bigger leak problems may need plumbing repiping and
            even repairs on the sewer lines.